/* styles.css */
* {
    font-family: Arial, Helvetica, sans-serif;
}



.bg-1f2937 {background-color: #1f2937;}

.bg-3882f6 {background-color: #3882f6;}

.f9faf8 {color: #f9faf8;}

.e5e7eb {color: #e5e7eb;}

.HeroMain {
    font-size: 48px;
    font-weight: 800;
}

.fsz-24 {font-size: 24px;}

.fsz-18 {font-size: 18px;}

.fw-800 {font-weight: 800;}


button {
    border-radius: 6px;
    border: 2px solid #f9faf8;
    padding: 6px 25px;
}