/* styles.css */

* {
    font-family: Arial, Helvetica, sans-serif;
}

.headerContainer, .bodyContainer, .quoteContainer, .actionContainer, footer {
    padding-left: 200px;
    padding-right: 200px;
    max-width: 1000px;
}



.widthSub {
    width: 700px;
}



.bodyContainer {
    padding-top: 20px;
    padding-bottom: 80px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap:20px;  
}

.quoteContainer {
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}



.miniQuoteContainer {
    width:650px;
    align-self: center;
}

.quoteTxt {
    font-style: italic;
    font-size: 30px;
    color: #1f2937;
    font-weight: light;
    
}

.author {
    align-self: flex-end;
    font-weight: bold;
    font-size: 26px;
    
}

.actionContainer {
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}

.subActionContainer {
    width: 100%;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    height: 160px;
}

.miniActionContainer {
    display:flex;
    justify-content: space-between;
}




.bg-1f2937 {background-color: #1f2937;}

.bg-3882f6 {background-color: #3882f6;}

.f9faf8, .copyright {color: #f9faf8;}

.e5e7eb {color: #E5E7EB;}

.bg-e5e7eb {background-color: #E5E7EB;}

.HeroMain {
    font-size: 48px;
    font-weight: 800;
    margin:0;
}

.fsz-24 {font-size: 24px;}

.fsz-18, .copyright {font-size: 18px;}

.fw-800 {font-weight: 800;}

p {margin: 0; padding: 0;}

li {
    list-style: none;
    padding: 0px 10px;
}

button {
    border-radius: 6px;
    border: 2px solid;
    padding: 6px 25px;
    font-size: 18px;
    color: #f9faf8;
    background-color: #3882f6;

}

.b1 {
    border-color: #3882f6;
    font-weight: 800;
    align-self: flex-start;
    margin-top: 10px;
}

.b2 {
    border-color: #f9faf8;
    align-self: flex-end;
}



.headerImg {
    max-width: 50%;
    
}


.smallImg {
    width:128px;
    border-radius: 10px;
}

.bigImgContainer{
    display: flex;
    justify-content: space-between;
    
}

.subtxt {
    text-align: center;
    font-size: 13px;
    font-weight: light;
}

.imgContainer {
    width: 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.container {
    display: flex;
}

.heroContainer {
    gap: 10%;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
    
}

.heroWords {
    justify-content: center;
    gap: 0;

    max-width: 50%
}


.vert {
    flex-direction: column;
}

.headerLinks, .navBar {
    align-items: center;
    justify-content: space-between;
}

footer {
    display:flex;
    justify-content: center;
    padding-top:20px;
    padding-bottom:20px;
    background-color: #1f2937;
}


